<p>
Warning: predictions of armageddon for dates that have past may adversely affect your credibility as a spiritual advisor.
</p>

<small style='display: block; float:left; width: 70%; ' >
	Sources:
	<br>http://www.biblestudy.org/bibleref/meaning-of-numbers-in-bible/
	<br>http://carm.org/what-biblical-numerology
	<br>http://www.patriot.net/users/bmcgin/ministries.html
	<br>
	<small style='display: block; margin-top: 1em; '>
		Caution: Results may vary.  Incompatible with many Abrahamic and non-Abrahamic religions.  Do not make professional, spiritual, or life-changing decisions based upon results from this program.  Over-use may result in temporary loss of sanity and subsequent incarceration.  Do not use results for the operation of passenger vehicles, aircraft, or nuclear power plants, as the algorithms have not been approved for those purposes.
	</small>
</small>

<small style='float:right; padding-top: 3em; text-align: right;'>
	<a href=guide.html>Guide to Dial-A-Geddon</a> and overview.<br>
	Brought to you by <a href='http://tactileint.com/allan'>allan</a>.
</small>

<br clear=both>
</div>
