<a name="topanchor"></a>
<div id=topTitle style='text-align: center; padding: 1em;'>
	<img id=imgTitle src=dagTitle.png onmousedown=event.preventDefault()
		style='margin: 1em auto;'>


	<div style='width:90%; margin: 0 auto 3em; text-align: left;'>

	God's wisdom isn't always within our grasp.  
	For example, an angel arrives, with a message, that the end is near.  
	Immediately, you have two problems to surmount:

	<ul>
		<li>
			<b>meaning</b> - what was God thinking when he arrived at this date?  
			What Biblical numbers did He use to decide when the battle would come?</li>

		<li style='margin-top: 1em;'>
			<b>credibility</b> - predictions of the end of times from false prophets appear almost weekly; 
			how is your  message to the faithful going to reach through the noise, 
			and inspire all life on earth for the coming good news?</li>
	</ul>

	</div>
</div>



<br clear=both>
<div ></div>

