<a name="topanchor"></a>
<div id=introBlock >
	<img id=imgTitleLarge src=dagTitle.png onmousedown=event.preventDefault() >
	<img id=imgTitleSmall src=dagTitle.png  onmousedown=event.preventDefault() >

	<div class='introCopy Large'>
		God's wisdom isn't always within our grasp.  
		For example, an angel arrives, with a message, that the end is near.  
		Immediately, you have two problems to surmount:
		<ul>
			<li>
				• <b>meaning</b> - what was God thinking when he arrived at this date?  
				What Biblical numbers did He use to decide when the battle would come?</li>

			<li style='margin-top: 1em;'>
				• <b>credibility</b> - predictions of the end of times 
				from false prophets appear almost weekly; 
				how is your  message to the faithful going to reach through the noise, 
				and inspire all life on earth for the coming good news?</li>
		</ul>
	</div>

	<div class='introCopy Medium'>
		When God chooses you to alert the world that the end is near, 
		how will you know what He was thinking when he arrived at the date?  
		How will you alert humanity to the coming good news?
	</div>


	<div class='introCopy Small'>
	</div>
</div>



<br clear=both>
<div ></div>

