<a name="topanchor"></a>
<div id=topTitle><img id=imgTitle src=dagTitle.png onmousedown=event.preventDefault()></div>


<!-- div onmousedown=event.preventDefault() style='float: left; padding: 2em;'>
	<img src=sagging.png>
</div>
<div onmousedown=event.preventDefault() style='float: right; padding: 2em;'>
	<img src=whatday.png>
</div-->

<div>

God's wisdom isn't always within our grasp.  
For example, an angel arrives, with a message, that the end is near.  
Immediately, you have two problems to surmount:

<ul>
	<li>meaning - what was God thinking when he arrived at this date?  What Biblical numbers did He use to decide when the battle would come?</li>

	<li>credibility - predictions of the end of times from false prophets appear almost weekly; how is your  message to the faithful going to reach through the noise, and inspire all life on earth for the coming good news?</li>
</ul>

</div>



<br clear=both>
<div ></div>

